
<app-progress-bar *ngIf="loading"></app-progress-bar>
<div *ngIf="!loading" class="row mt-1">
  <div class="col-lg-4 offset-lg-4">
    <div class="card text-white bg-secondary mb-3" style="max-width: 25rem;">
      <div class="card-header text-center">{{ operacion }} Egreso</div>
      <div class="card-body">
        <form (ngSubmit)="addEgreso()">
          <div>
            <label for="terceroInput">Tercero:</label>
            <select [(ngModel)]="selectedTerceroId" name="tercero" class="form-control" required #terceroInput="ngModel">
              <option *ngFor="let tercero of terceros" [value]="tercero._id">{{ tercero.nombreTercero }}</option>
            </select>
            <div *ngIf="terceroInput.touched && terceroInput.invalid" class="text-danger">El campo tercero es requerido</div>
          </div>

          <div>
            <label for="fechaInput">Fecha:</label>
            <input [(ngModel)]="formulario.fecha" name="fecha" type="date" class="form-control" id="fechaInput" required #fechaInput="ngModel">
            <div *ngIf="fechaInput.touched && fechaInput.invalid" class="text-danger">El campo fecha es requerido</div>
            <div *ngIf="formulario.fecha">
              <label>Fecha seleccionada:</label>
              <input [value]="formulario.fecha | date:'dd/MM/yyyy'" class="form-control" readonly>
            </div>
          </div>
          
          <div>
            <label for="categoriaInput">Categoría:</label>
            <select [(ngModel)]="selectedCategoriaId" name="categoria" class="form-control" required #categoriaInput="ngModel">
              <option *ngFor="let categoria of categorias" [value]="categoria._id">{{ categoria.nombre }}</option>
            </select>
            <div *ngIf="categoriaInput.touched && categoriaInput.invalid" class="text-danger">El campo categoría es requerido</div>
          </div>
          
          <div>
            <label for="detalleInput">Detalle:</label>
            <input [(ngModel)]="formulario.detalle" name="detalle" type="text" class="form-control" id="detalleInput" required #detalleInput="ngModel">
            <div *ngIf="detalleInput.touched && detalleInput.invalid" class="text-danger">El campo detalle es requerido</div>
          </div>
          
          <div>
            <label for="valorInput">Valor:</label>
            <input [(ngModel)]="formulario.valor" name="valor" type="number" class="form-control" id="valorInput" required #valorInput="ngModel">
            <div *ngIf="valorInput.touched && valorInput.invalid" class="text-danger">El campo valor es requerido</div>
          </div>

          <div class="row mt-2 text-center">
            <div class="col-lg-6">
              <button routerLink="/" type="button" class="btn btn-danger">Volver</button>
            </div>
            <div class="col-lg-6">
              <button type="submit" class="btn btn-success">Aceptar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>