<!-- <app-progress-bar *ngIf="loading"></app-progress-bar>
<div *ngIf="!loading" class="row mt-1">
    <div class="col-lg-4 offset-lg-4">
        <div class="card text-white bg-secondary mb-3" style="max-width: 25rem;">
            <div class="card-header text-center">{{ operacion }} Egreso</div>
            <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="addEgreso()">
                    <div>
                      <label for="fechaInput">Fecha:</label>
                      <input formControlName="fecha" type="date" class="form-control" id="fechaInput">
                      <div *ngIf="form.get('fecha')?.hasError('required') && form.get('fecha')?.touched">
                        El campo fecha es <strong>requerido</strong>
                      </div>
                    </div>
                  
                    <div>
                      <label for="categoriaInput">Categoría:</label>
                     
                      <select formControlName="categoria">
                        <option *ngFor="let categoria of categorias" [value]="categoria._id">{{ categoria.nombre }}</option>
                      </select>
                      
                      <div *ngIf="form.get('categoria')?.hasError('required') && form.get('categoria')?.touched">
                        El campo categoría es <strong>requerido</strong>
                      </div>
                    </div>
                  
                    <div>
                      <label for="detalleInput">Detalle:</label>
                      <input formControlName="detalle" type="text" class="form-control" id="detalleInput">
                      <div *ngIf="form.get('detalle')?.hasError('required') && form.get('detalle')?.touched">
                        El campo detalle es <strong>requerido</strong>
                      </div>
                    </div>
                  
                    <div>
                      <label for="valorInput">Valor:</label>
                      <input formControlName="valor" type="number" class="form-control" id="valorInput">
                      <div *ngIf="form.get('valor')?.hasError('required') && form.get('valor')?.touched">
                        El campo valor es <strong>requerido</strong>
                      </div>
                    </div>
                  
                    <div class="row mt-2 text-center">
                      <div class="col-lg-6">
                        <button routerLink="/" type="button" class="btn btn-danger">Volver</button>
                      </div>
                      <div class="col-lg-6">
                        <button [disabled]="form.invalid" type="submit" class="btn btn-success">Aceptar</button>
                      </div>
                    </div>
                  </form>
                  
            </div>
        </div>
    </div>
</div> -->

<app-progress-bar *ngIf="loading"></app-progress-bar>
<div *ngIf="!loading" class="row mt-1">
  <div class="col-lg-4 offset-lg-4">
    <div class="card text-white bg-secondary mb-3" style="max-width: 25rem;">
      <div class="card-header text-center">{{ operacion }} Egreso</div>
      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="addEgreso()">
          <div>
            <label for="terceroInput">Tercero:</label>
            <input formControlName="tercero" type="text" class="form-control" id="terceroInput">
            <div *ngIf="form.get('tercero')?.hasError('required') && form.get('tercero')?.touched">
              El campo tercero es <strong>requerido</strong>
            </div>
          </div>

          <div>
            <label for="fechaInput">Fecha:</label>
            <input type="date" formControlName="fecha" class="form-control" id="fechaInput">
            <div *ngIf="form.get('fecha')?.hasError('required') && form.get('fecha')?.touched">
              El campo fecha es <strong>requerido</strong>
            </div>
          </div>

          <div>
            <label for="categoriaInput">Categoría:</label>
            <!-- Cambié el input a un select para mostrar las categorías disponibles -->
            <select formControlName="categoria">
              <option *ngFor="let categoria of categorias" [value]="categoria._id">{{ categoria.nombre }}</option>
            </select>

            <div *ngIf="form.get('categoria')?.hasError('required') && form.get('categoria')?.touched">
              El campo categoría es <strong>requerido</strong>
            </div>
          </div>

          <div>
            <label for="detalleInput">Detalle:</label>
            <input formControlName="detalle" type="text" class="form-control" id="detalleInput">
            <div *ngIf="form.get('detalle')?.hasError('required') && form.get('detalle')?.touched">
              El campo detalle es <strong>requerido</strong>
            </div>
          </div>

          <div>
            <label for="valorInput">Valor:</label>
            <input formControlName="valor" type="number" class="form-control" id="valorInput">
            <div *ngIf="form.get('valor')?.hasError('required') && form.get('valor')?.touched">
              El campo valor es <strong>requerido</strong>
            </div>
          </div>

          <div class="row mt-2 text-center">
            <div class="col-lg-6">
              <button routerLink="/" type="button" class="btn btn-danger">Volver</button>
            </div>
            <div class="col-lg-6">
              <button [disabled]="form.invalid" type="submit" class="btn btn-success">Aceptar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
